p, h3{
    text-align:center;
}
a{
    margin-left: 120px;
}
i{
margin-left: 159px;
font-size: 50px;
/* background-color: rgb(203, 203, 236); */

}
.main-box{
background-color:rgb(249, 242, 242);
/* margin-top: 75px; */
padding: 30px 20px;
}
.col-4{
height: 300px;
width: 100px;
/* border: 2px solid lightgray; */
border-radius: 10px;
/* margin-right: 5px; */

}

.fa-brands{
color: blue;
}
.align{
background-color: white;
padding: 10px;
margin: 70px 20px 40px ;
}